@import url(../variables.css);

// Vacancies
$red: #dc3545;
$yellow: #F4D03F;

#vacancies {
    .red {
        color: $red;
    }

    .yellow {
        color: $yellow;
    }

    .green {
        color: var(--main-green);
    }

    .ql-container {
        height: 250px;
    }

    .company-filter {
        width: 250px;
        max-width: 250px;
    }

    .btn-add {
        font-size: 1rem;
        color: var(--main-green);
        background-color: transparent;
        border: 1px solid var(--main-green);
        border-radius: 100%;
        transition: all 0.2s ease-in-out;

        &:hover,
        &:focus {
            color: #fff;
            background-color: var(--main-green);
        }

        &.solid {
            font-size: 0.8rem;
            color: #fff;
            background-color: var(--main-green);
            padding: 0 4px;

            &:hover,
            &:focus {
                color: var(--main-green);
                background-color: transparent;
            }
        }
    }

    .vacancie.card {
        flex-direction: row;
        border: 1px solid rgba(#000, 0.3);

        &.active {
            border-color: var(--main-green);

            .status {
                background-color: var(--main-green);
                color: #fff;
            }

            .title {
                color: var(--main-green);
            }
        }

        &.suspended {
            border-color: $yellow;

            .status {
                background-color: $yellow;
                color: #fff;
            }

            .title {
                color: $yellow;
            }
        }

        &.ended {
            border-color: $red;

            .status {
                background-color: $red;
                color: #fff;
            }

            .title {
                color: $red;
            }
        }

        &.paused {
            border-color: rgba(#000, 0.3);

            .status {
                background-color: rgba(#000, 0.3);
                color: #fff;
            }

            .title {
                color: rgba(#000, 0.3);
            }
        }

        .info {
            display: flex;
            align-items: center;
            padding: 0;

            * {
                margin: 0;
            }

            span:last-child>* {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .title {
                font-size: 1.5rem;
                font-weight: bold;
            }

            .department {
                font-size: 1rem;
                font-weight: 600;
                color: var(--main-blue);
            }

            .updated,
            .user {
                font-size: 0.75rem;
                font-weight: 500;
                color: var(--main-blue);
            }

            .user {
                margin-top: auto;
            }
        }

        .status {
            min-height: 180px;
            padding: 0 0.5rem;
            text-align: center;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            border-radius: 0 0.375rem 0.375rem 0;
        }

        .date,
        .candidates,
        .options {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .date {
            font-weight: 600;
            border-left: 1px dashed rgba(#000, 0.3);
            border-right: 1px dashed rgba(#000, 0.3);
        }

        .candidates {
            flex-direction: column;
            border-right: 1px dashed rgba(#000, 0.3);
            font-weight: 500;

            strong {
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }
}