/* Companies */
.grid-companies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 12px;
}

.loader-companies {
    width: 100%;
    height: 5px;
    background: radial-gradient(circle closest-side, #172554 92%, #0000) calc(100%/3) 0/calc(100%/4) 100%;
    animation: i2 0.5s infinite linear;
}

@keyframes i2 {
    100% {
        background-position: 0 0
    }
}

.status-company {
    padding: 1px 1rem;
}

.status-company .suspend {
    color: #F4D03F;
}

.status-company .active {
    color: #48C9B0;
}

.actions-companies {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@media only screen and (max-width: 992px) {
    .container-card {
        flex-direction: column;
    }

    .actions-companies {
        flex-wrap: wrap-reverse;
    }

    .actions-companies > [class*="col-"] {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px;
    }
}