@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./variables.css');

* {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-blue);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-blue);
}

.dashboard {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    background-color: var(--main-white);
}

.container-content {
    width: 100%;
    background-color: var(--main-white);
}

.views {
    min-height: calc(100vh - 100px);
    background-color: var(--main-white);
}

@media only screen and (max-width: 992px) {
    .container-content {
        min-width: calc(100% - 250px);
    }
}

.loader-view {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-primary {
    border-color: var(--main-green);
    color: var(--main-green);
}

.btn-outline-primary:active,
.btn-outline-primary:checked,
.btn-outline-primary:focus,
.btn-outline-primary:focus-visible,
.btn-outline-primary:hover,
.btn-outline-primary.show,
.btn:first-child:active {
    background-color: var(--main-green);
    border-color: var(--main-green);
    box-shadow: none;
    color: #F4F6F6;
    font-weight: 500;
}

.error-form {
    color: #C70039;
    display: none;
    font-weight: bold;
    font-size: 10px;
}

.swal2-close:focus {
    box-shadow: none;
}

a {
    text-decoration: none;
}

.router-link-active {
    color: var(--main-blue);
    font-weight: bold;
    text-decoration: none;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 11px;
    font-weight: bold;
    color: var(--main-blue);
}

/* Utilities */
.btn-icon {
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    border: none;
}

.btn-icon:hover,
.btn-icon:focus {
    color: var(--main-green);
}

.card {
    border-color: transparent;
}

.card:hover {
    cursor: pointer;
}

.list-group-item {
    border-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-group {
    width: 100%;
}

.list-group-item.title {
    font-size: 15px;
    font-weight: bold;
}

.dropdown-item {
    font-size: 12px;
    color: #172554;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
    background-color: transparent;
    color: #172554;
    font-weight: bold;
}

.container-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.modal-header .btn-close {
    background-image: none;
}

.modal-header .btn-close:focus,
.modal-header .btn-close:hover {
    color: #C70039;
    font-weight: bold;
    box-shadow: none;
}

.nav-tabs .nav-link {
    color: #172554;
    font-size: 12px;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
}

.form-label {
    font-size: 12px;
    font-weight: bold;
}

.form-control.form-control-sm {
    height: 25px;
    font-size: 12px;
}

.form-control.form-control-sm:focus {
    border-color: #DEE2E6;
    box-shadow: none;
}

.form-select.form-select-sm {
    height: 25px;
    font-size: 12px;
}

.form-select.form-select-sm:focus {
    border-color: #DEE2E6;
    box-shadow: none;
}

.swal2-confirm {
    background-color: #2DD4BF !important;
    border-color: #2DD4BF !important;
    box-shadow: none !important;
    color: #F4F6F6 !important;
    font-weight: 500 !important;
}

.swal2-cancel {
    background-color: #C70039 !important;
    border-color: #C70039 !important;
    box-shadow: none !important;
    font-weight: 500 !important;
}

.btn-select,
.btn-select:active,
.btn-select:checked,
.btn-select:focus,
.btn-select:focus-visible,
.btn-select:hover,
.btn-select.show,
.btn-select:first-child:active {
    height: 25px;
    font-size: 12px;
    background: transparent;
    color: #0C0C0C;
    border-color: #DEE2E6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-option:hover {
    cursor: pointer;
    font-size: 12px;
}

.form-search {
    height: 30px !important;
}

.input-group-text {
    background: transparent;
    border-color: transparent;
}