@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #172554;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #172554;
}

.dashboard {
    display: flex;
    flex-direction: row;
}

.container-content {
    width: 100%;
}

.views {
    min-height: calc(100vh - 100px);
}

.loader-view {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-primary {
    border-color: #2DD4BF;
    color: #2DD4BF;
}

.btn-outline-primary:active,
.btn-outline-primary:checked,
.btn-outline-primary:focus,
.btn-outline-primary:focus-visible,
.btn-outline-primary:hover,
.btn-outline-primary.show,
.btn:first-child:active {
    background-color: #2DD4BF;
    border-color: #2DD4BF;
    box-shadow: none;
    color: #F4F6F6;
    font-weight: 500;
}

.error-form {
    color: #C70039;
    display: none;
    font-weight: bold;
    font-size: 10px;
}

.swal2-close:focus {
    box-shadow: none;
}